*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}
.img-about img{
    width: 550px;
    height: 600px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,.1);
}
.img-about .experience{
    font-size: 18px;
    color: #ffffff;
    background: #000;
    font-family: 'Arial', sans-serif;
    width: fit-content;
    /* height: 40px; */
    padding: 20px 30px;
    border-radius: 20px;
    font-weight: bold;
    margin-top: 20px;
    transform: translateY(-90px) translateX(400px);
}
.experience span{
    font-size: 14px;
}
.about-content{
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 600px;
    margin-left: 70px;  
}
.about-content h2{
    font-size: 36px;
    font-family: 'Arial', sans-serif;
}
.about-content h5{
    font-size: 20px;
    color: #006a61;
    font-family: 'Arial', sans-serif;
}
.about-content p{
    font-size: 18px;
    color: #555;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}
.desc{
    font-size: 18px;
    font-family: 'Arial', sans-serif;
    background: #f2f4f6;
    height: 60px;
    padding-top: 20px;
    padding-left: 20px;
    border-radius: 10px;
 
}
.desc i{
    color: #006a61;
    margin-right: 10px;
}
/* info-about */
.info-about{
    padding: 50px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    background:#131b2e;
}
.info-our{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.info-our h2{
    font-size: 36px;
    font-family: 'Arial', sans-serif;
    color: #fff;
}
.list-info{
    display: flex;
    gap: 30px;
}
.list-info h4{
    font-size: 20px;
    font-family: 'Arial', sans-serif;
    color: #fff;
   
}
.list-info p{
    font-size: 18px;
    font-family: 'Arial', sans-serif;
    color: #8a8d93;
}
.list-info i{
    color: #74f5e7;
    margin-right: 10px;
    background: #29737155;
    padding: 10px 35px 20px 15px;
    border-radius: 10px;
}
/* show-info-about */
.show-info-about{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;

}
.care-1{
margin-top: 50px;
}
.care-1, .care-2{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

}.care-1 p,
.care-2 p {
    font-size: 18px;
    font-family: Arial, sans-serif;
    width: 250px;
    min-height: 150px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 20px;
    border-radius: 10px;
}

.care-1 p {
    background-color: #006a61;
    color: white;
}

.care-2 p {
    background-color: #f4f6f6;
    color: black;
}

.care-1 p span,
.care-2 p span {
    font-size: 30px;
    font-weight: bold;
}

.care-1 img,
.care-2 img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}